@use "../../styles/abstracts/index.scss" as a;

.header {
  z-index: 10;
  width: 100%;
  height: var(--s-header);
  position: fixed;
  top: 0;
  padding: var(--s-sm);
  background-color: var(--background);
}

.header-container {
  --cols: 3;
  --gap: var(--s-md);
  font-size: var(--f-sm);
  @extend %grid;
  align-items: center;

  :where(.logo-wrapper) {
    grid-column: 2;
    justify-self: center;
  }
  :where(.logo) {
    width: clamp(9.7rem, calc(7.155rem + 12.727vw), 16.7rem);
    height: clamp(0.88rem, calc(0.655rem + 1.127vw), 1.5rem);
  }
  :where(.button) {
    width: 3rem;
    height: fit-content;
    color: currentColor;
  }
}

.is--unscroll {
  --background: transparent;
  color: var(--white);
}

.is--scroll {
  --background: var(--white);
  box-shadow: var(--c-border) 0px 1px 5px 0px;
}
