@use "../../styles/abstracts/index.scss" as a;

.intro-container {
  --cols: 2;
  --gap: var(--s-base);
  @extend %grid;
  align-content: end;
  grid-template-areas: "text text";
  height: 70vh;
  padding: var(--s-lg) var(--s-base);
  margin-top: var(--s-base);
  --background: transparent;
  @include a.bp(large) {
    grid-template-areas: ". text";
  }

  :where(.intro) {
    grid-area: text;
    line-height: 1.3;
  }

  :where(.ariane) {
    font-size: var(--f-md);
    padding-bottom: var(--s-base);
  }

  :where(.is-active) {
    text-decoration: underline;
  }

  .is-active::after {
    content: "\00a0 \00a0  \00a0 / \00a0 \00a0";
    display: inline-block;
  }
}
