@use "../../styles/abstracts/index.scss" as a;

.nav {
  display: none;

  :where(.link) {
    border-bottom: 1px solid transparent;
  }
  :where(.link:hover),
  :where(.is--active) {
    //--color: var(--buccaneer-blue);
    border-bottom: 1px solid currentColor;
  }
}

.nav-primary {
  @include a.bp(large) {
    grid-column: 9 / 13;
    display: flex;
    justify-content: end;
    gap: var(--s-base);
  }
  :where(.link:last-child) {
    border-bottom: none;
  }
}
