@use "../../styles/abstracts/index.scss" as a;

.nav-secondary {
  @include a.bp(large) {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    padding: var(--s-sm) var(--s-base);
    border-bottom: 1px solid var(--c-border);
    box-sizing: border-box;
    width: 100%;
  }

  :where(.link-secondary) {
    font-size: var(--f-xsm);
  }
}

.is--top {
  position: absolute;
  top: var(--s-header);
  height: var(--s-header);
}

.is--bottom {
  position: absolute;
  bottom: 0;
}

.is--mobile {
  z-index: 11;
  position: fixed;
  top: var(--s-header);
  width: 100%;
  height: calc(100vh - var(--s-header));
  background-color: light-dark(var(--white), var(--dark-tone-ink));

  :where(.nav-secondary) {
    top: 0;
    padding: var(--s-base);
    display: flex;
    flex-direction: column;
    gap: var(--s-sm);
    align-items: start;
  }

  :where(.link-secondary) {
    font-size: var(--f-base);
    font-family: var(--f-tny);
    text-transform: uppercase;
  }

  :where(.link-secondary:hover) {
    --color: var(--buccaneer-blue);
    border-color: var(--buccaneer-blue);
  }
}
